.NewComponentswiper .swiper {
  width: 100%;
  height: 100%;
}

/* .NewComponentswiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 100%;
  /* background: #444; */

  /* Center slide text vertically */
  /* display: flex;
  justify-content: center;
  align-items: center;
}  */

.NewComponentswiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.NewComponentswiper .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.NewComponentswiper .swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
/* .NewComponentswiper .swiper-pagination {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  font-family: "Abar_Low_FaNum", sans-serif;
}
.NewComponentswiper .swiper-pagination-container {
  width: 423px;
  height: 59px;
  margin: 0 auto;
  padding: 14px 12px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  outline: 1.5px solid #fafafa;
  outline-offset: -1.5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.NewComponentswiper-pagination {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  font-family: "Abar_Low_FaNum", sans-serif;
}

.NewComponentswiper-pagination .swiper-pagination-current {
  color: #00aeef;
}

.NewComponentswiper-pagination .swiper-pagination-total {
  color: #666;
} */
